name: Release
on:
  release:
    types: [published]
permissions:
  contents: write
jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'
      
      # Build
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      
      - name: Build the file
        run: npm run build
      
      # Upload build file to the release as an asset.
      - name: Upload asset to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ./dist/wall-clock-card-pirate-weather.js
          asset_name: wall-clock-card-pirate-weather.js
          tag: ${{ github.ref }}
          overwrite: true
